body
    include components/header.pug
    include components/footer.pug

    //- JS
    if $page == 'index'
        script(src="assets/scripts/main.js")
    else
        script(src="../scripts/main.js")